body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero, .footer {
    background-color: #1F2937;
    display: flex;
}

.hero {
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 100px;
    gap: 100px;
}
.intro .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.links {
    display: flex;
    gap: 24px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, .intro .left-intro .body {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.left-intro {
    display: flex;
    flex-flow: column wrap;   
    gap: 12px;
}

.intro {
    display: flex;
    align-self: center;
    margin: 0 200px;
    gap: 100px;
}
.placeholder{
    background-color: grey;
    width: 400px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 100px;
    padding: 6px;
    background-color: #3882F6;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 8px;
    border-style: solid;
}

.information {
    margin: 0 300px;
    padding: 50px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title-bis{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.container{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.information .info {
    max-width: 200px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    text-align: center;
    max-width: 150px;
    color: #1F2937;
}
.box{
    width: 150px;
    height: 150px;
    border: solid #3882F6;
    border-radius: 15px;
}

.quote {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 300px;
}

.quote-body{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.signature{
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.action{
    display: flex;    
    justify-content: space-around;
    padding: 50px 0;
    background-color: #3882F6;
    margin: 100px 200px;
    border-radius: 15px;
    align-items: baseline;
}

.left-action{
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    flex-shrink: 0;
}
.left-action .title{
    font-weight: bold;
    font-size: 20px;
}
.action .right-action button{
    border-color: #e5e7eb;
    box-shadow: none;
    font-size: 16px;
    align-self: baseline;
    padding: 10px 20px;
    width: 120px;
}
.footer {
    color: #e5e7eb;
    font-size: 14px;
    justify-content: center;
    padding: 20px;
}
